<div class="container-fluid h-100 w-100">
    <div class="row h-100 flexNoWrap">
        <div id="engine-list" class="col-auto overflow-auto">
            <pxb-score-card
                *ngFor="let engine of this.GetEngines(); let i = index"
                [ngClass]="{ engineCardActive: engine.IsOn, engineError: engine.IsError, engineWarn: engine.IsWarn }"
                [headerTitle]="engine.Name"
                [headerSubtitle]="engine.getStatus()"
                [headerInfo]="engine.getIssues()"
                class="engineCard"
                [badgeOffset]="-100"
            >
                <ng-container pxb-action-items>
                    <mat-icon [hidden]="!this.userDetailService.canWrite" (click)="engine.startStop()">{{
                        engine.IsOn ? 'stop' : 'play_arrow'
                    }}</mat-icon>
                </ng-container>

                <pxb-hero-banner pxb-badge>
                    <pxb-hero
                        label="Temperature"
                        [iconBackgroundColor]="appColorService.getEngineTempBackColor(engine)"
                        [iconSize]="72"
                        [value]="engine.Temperature.toString()"
                        units="°C"
                    >
                        <i class="pxb-temp temp-engine-icon" pxb-primary [style.color]="appColorService.getEngineTempColor(engine)"> </i>
                    </pxb-hero>
                    <pxb-hero
                        label="Speed"
                        [iconBackgroundColor]="'white'"
                        [iconSize]="72"
                        [value]="engine.Speed.toString()"
                        units="rpm"
                    >
                        <mat-icon class="rotating-engine-icon" pxb-primary>loop</mat-icon>
                    </pxb-hero>
                </pxb-hero-banner>

                <div pxb-body>
                    <img class="engine-img" src="{{ engine.Image }}" alt="Card image cap" />
                </div>
            </pxb-score-card>
        </div>
        <div class="col minH0 h-100">
            <div id="chartDiv" class="minH0 h50">
                <canvas
                    class="minH0 h-100"
                    baseChart
                    [datasets]="lineChartData"
                    [options]="lineChartOptions"
                    [colors]="chartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins"
                    [labels]="lineChartLabels"
                >
                </canvas>
            </div>
            <div id="chartDivB" class="minH0 h50">
                <canvas
                    class="minH0 h-100"
                    baseChart
                    [datasets]="barChartData"
                    [options]="barChartOptions"
                    [colors]="chartColors"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    [plugins]="barChartPlugins"
                    [labels]="barChartLabels"
                >
                </canvas>
            </div>
        </div>
    </div>
</div>
