@import '~@pxblue/colors/palette.scss';

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#engine-list {
    ::ng-deep {
        .engineCardActive.pxb-score-card {
            .pxb-score-card-header {
                background-color: map-get($pxb-green, 400);
                color: white;
            }
            .pxb-score-card-badge-wrapper .pxb-hero-banner-content .pxb-hero-content {
                .rotating-engine-icon {
                    animation-name: rotate;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
            }
        }
        .engineWarn.pxb-score-card {
            .pxb-score-card-header {
                background-color: map-get($pxb-orange, 400);
                color: white;
            }
        }
        .engineError.pxb-score-card {
            .pxb-score-card-header {
                background-color: map-get($pxb-red, 400);
                color: white;
            }
        }
    }
}

::ng-deep .pxb-score-card .pxb-score-card-header-background {
    background-image: url('../../assets/img/topology_40.png');
}

.engine-img {
    height: 180px;
}
