@import '~@pxblue/colors/palette.scss';

#engine-list {
    ::ng-deep {
        .pxb-score-card-action-items-wrapper {
            .mat-icon {
              width: 40px;
              height: 40px;
              font-size: 40px;
            }
        }
        .engineCardActive.pxb-score-card {
            .pxb-score-card-header {
                background-color: map-get($pxb-green, 400);
                color: white;
            }
            .pxb-score-card-badge-wrapper .pxb-hero-banner-content .pxb-hero-content {
                .rotating-engine-icon {
                    animation-name: rotate;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
            }
        }
        .engineWarn.pxb-score-card {
            .pxb-score-card-header {
                background-color: map-get($pxb-orange, 400);
                color: white;
            }
        }
        .engineError.pxb-score-card {
            .temp-engine-icon {
                animation: blinkingColor 1s infinite;
            }
            .pxb-score-card-header {
                background-color: map-get($pxb-red, 400);
                color: white;
            }
        }
    }
}

::ng-deep .pxb-score-card .pxb-score-card-header-background {
    background-image: url('../../assets/img/topology_40.png');
    background-repeat: repeat;
    background-size: 500px !important;
}

.engine-img {
    height: 180px;
}
